{{>layout/header}}

<h5>오늘의 추천 노래는?</h5>

<button type="button" id="rndBtn" class="btn btn-primary mb-2">노래 보기</button>
<div id="div1">노래 보기 버튼을 누르시면 AI가 추천하는 오늘의 노래를 볼 수 있습니다.</div>

<script src="/js/playlist.js"></script>
{{>layout/footer}}